<table cellspacing=3>
    <thead>
        <TR halign="center">
            <TH valign="bottom">ID</TH>
            <TH valign="bottom">Chr</TH>
            <TH valign="bottom">Position</TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">0</DIV>
            </TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">0</DIV>
            </TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">0</DIV>
            </TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">0</DIV>
            </TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">0</DIV>
            </TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">1</DIV>
            </TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">0</DIV>
            </TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">0</DIV>
            </TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">0</DIV>
            </TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">0</DIV>
            </TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">0</DIV>
            </TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">0</DIV>
            </TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">0</DIV>
            </TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">0</DIV>
            </TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">0</DIV>
            </TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">0</DIV>
            </TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">0</DIV>
            </TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">1</DIV>
            </TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">0</DIV>
            </TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">0</DIV>
            </TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">0</DIV>
            </TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">0</DIV>
            </TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">0</DIV>
            </TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">0</DIV>
            </TH>
            <TH halign="left" height="100" valign="bottom">
                <DIV ID="vertical">1</DIV>
            </TH>
            <TH valign="bottom">Gene</TH>
            <TH valign="bottom">Annotation</TH>
        </TR>
    </thead>
    <tbody>
        <TR>
            <TD halign="center">INDEL_19_43800045__</TD>
            <TD halign="center">19</TD>
            <TD halign="center">43800045</TD>
            <TD halign="center">0</TD>
            <TD halign="center">0</TD>
            <TD halign="center">0</TD>
            <TD halign="center">0</TD>
            <TD halign="center">0</TD>
            <TD halign="center">1</TD>
            <TD halign="center">0</TD>
            <TD halign="center">0</TD>
            <TD halign="center">0</TD>
            <TD halign="center">0</TD>
            <TD halign="center">0</TD>
            <TD halign="center">0</TD>
            <TD halign="center">0</TD>
            <TD halign="center">0</TD>
            <TD halign="center">0</TD>
            <TD halign="center">0</TD>
            <TD halign="center">0</TD>
            <TD halign="center">1</TD>
            <TD halign="center">0</TD>
            <TD halign="center">0</TD>
            <TD halign="center">0</TD>
            <TD halign="center">0</TD>
            <TD halign="center">0</TD>
            <TD halign="center">0</TD>
            <TD halign="center">1</TD>
            <TD halign="center">Abcc2</TD>
            <TD halign="center">MODIFIER</TD>
        </TR>
        <TD halign="center">INDEL_19_43800997__</TD>
        <TD halign="center">19</TD>
        <TD halign="center">43800997</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">1</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">1</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">1</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">1</TD>
        <TD halign="center">Abcc2</TD>
        <TD halign="center">MODIFIER</TD>
        </TR>
        <TD halign="center">INDEL_19_43801367__</TD>
        <TD halign="center">19</TD>
        <TD halign="center">43801367</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">1</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">1</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">1</TD>
        <TD halign="center">Abcc2</TD>
        <TD halign="center">MODIFIER</TD>
        </TR>
        <TD halign="center">INDEL_19_43805360__</TD>
        <TD halign="center">19</TD>
        <TD halign="center">43805360</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">1</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">1</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">1</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">1</TD>
        <TD halign="center">Abcc2</TD>
        <TD halign="center">MODIFIER</TD>
        </TR>
        <TD halign="center">INDEL_19_43806998__</TD>
        <TD halign="center">19</TD>
        <TD halign="center">43806998</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">1</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">1</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">1</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">0</TD>
        <TD halign="center">1</TD>
        <TD halign="center">Abcc2</TD>
        <TD halign="center">HIGH</TD>
        </TR>
    </tbody>
</table>